programs/**
!programs/README.md
**/*.out
**/*.bin
**/*.lst
related-projects/AT28C-EEPROM-Programmer-Arduino
related-projects/AT28C-EEPROM-Programmer-Arduino/**
related-projects/zasm
related-projects/zasm/**
related-projects/Teensy_Blaster
related-projects/Teensy_Blaster/**
docs/datasheet
docs/datasheet/**
**/*-backups/
**/*-backups/**
**/*-backup/
**/*-backup/**
**/fp-info-cache
**/*.bak
**/.hide_*
lib/kicad/*.step
jml-8-mini/schematic/*.step
**/basic.s
**/*.FCBak
